{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 100,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"svelteStrictMode": false,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
